<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">


  <meta charset="UTF-8">
  <title>Widget-List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="../../vendors/bootstrap/dist/js/bootstrap.js"></script>

  <!--CUSTON-LIBRARIES-->
  <link href="../../css/styles.css" rel="stylesheet"/>
</head>
<body>
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top widget-navbar-header">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a href="../page/page-list.html" class="glyphicon glyphicon-chevron-left"></a>
    </p>

    <a class="navbar-brand" href="#"><b>Widgets</b></a>

    <p class="navbar-text pull-right">
      <a href="widget-chooser.html" class="glyphicon glyphicon-plus"></a>
    </p>

  </div>
</nav>
<!--Header end-->
<div class="container-fluid">
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item widget-list">
        <div class="widget-container">
          <h3>GIZMODO</h3>
          <div class="widget-options">
            <a class="glyphicon glyphicon-align-justify widget-option pull-right color-black"></a>
            <a class="glyphicon glyphicon-cog pull-right widget-option color-blue" href="#"></a>
          </div>
        </div>
      </li>
      <li class="list-group-item widget-list">
        <div class="widget-container">
          <h5>US Senate Reaches Compromise on Emergency</h5>
          <div class="widget-options">
            <a class="glyphicon glyphicon-align-justify widget-option pull-right color-black"></a>
            <a class="glyphicon glyphicon-cog pull-right widget-option color-blue" href="#"></a>
          </div>
        </div>
      </li>
      <li class="list-group-item widget-list">
        <div class="widget-container">
          <img class="image widget-image" src="http://lorempixel.com/400/200/sports/">
          <div class="widget-options">
            <a class="glyphicon glyphicon-align-justify widget-option pull-right color-black"></a>
            <a class="glyphicon glyphicon-cog pull-right widget-option color-blue" href="#"></a>
          </div>
        </div>
      </li>
      <li class="list-group-item widget-list">
        <div class="widget-container">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <div class="widget-options">
            <a class="glyphicon glyphicon-align-justify widget-option pull-right color-black"></a>
            <a class="glyphicon glyphicon-cog pull-right widget-option color-blue" href="#"></a>
          </div>
        </div>
      </li>
      <li class="list-group-item widget-list">
        <div class="widget-container">
          <div class="widget-options">
            <a class="glyphicon glyphicon-align-justify widget-option pull-right color-black"></a>
            <a class="glyphicon glyphicon-cog pull-right widget-option color-blue" href="#"></a>
          </div>
          <iframe class="video-frame" width="560" height="315" src="https://www.youtube.com/embed/sbTeGW4HAn0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>
      <li class="list-group-item widget-list">
        <div class="widget-container">
          <p>Thomas Edward Patrick Brady Jr. is an American football quarterback for the New England Patriots of the National Football League. He is one of only two players to win five Super Bowls and the only player to win them all playing for one team</p>
          <div class="widget-options">
            <a class="glyphicon glyphicon-align-justify widget-option pull-right color-black"></a>
            <a class="glyphicon glyphicon-cog pull-right widget-option color-blue" href="#"></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom widget-navbar-footer">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a href="profile.html">
        <span class="glyphicon glyphicon-play gly-black"></span>
      </a>
    </p>

    <p class="navbar-text pull-left">
      <a href="profile.html">
        <span class="glyphicon glyphicon-eye-open gly-black"></span>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
<!--footer end-->
</body>
</html>
