<div class="container">
  <h1>Login</h1>
  <div *ngIf="loginError" class="alert alert-danger" role="alert">{{loginError}}</div>
    <form (submit)="login()" #f="ngForm">
    <input placeholder="username"
           type="text"
           class="form-control"
           name="username"
           ngModel
           required
           #username="ngModel"
    />
      <div *ngIf="username.invalid && (username.dirty || username.touched)"
           class="alert alert-danger">
            Username is required.
      </div>
    <input placeholder="password"
           type="password"
           class="form-control"
           name="password"
           ngModel
           required
           #password="ngModel"/>
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
           class="alert alert-danger">
        Password is required.
      </div>
    <button class="btn btn-primary btn-block" type="submit" [disabled]="!f.valid">Login</button>
    <button class="btn btn-success btn-block" routerLink="/register">Register</button>

      <a  href="http://localhost:3100/facebook/login" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
      </a>

    </form>
</div>
