input{
  margin-bottom: 5px;
}

body{
  padding-top: 65px;
  padding-bottom: 50px;
}

.user-navbar,.user-navbar-footer,.website-navbar-header,.website-navbar-footer{
  background-color: #0083c3;
}

.navbar-default .navbar-brand {
  color: white;
}

.website-navbar-header  a,
.website-navbar-footer  a,
.user-navbar-header  a,
.user-navbar-header a{
  color: white;
}

.website-list,.page-list, .widget-list{
  border: none;
  text-decoration: none;
}

.website-list a, .page-list a,.widget-list a{
  text-decoration: none;
}

.navbar-text a{
  text-decoration: none;
}

.page-navbar-header a, .page-navbar-header .navbar-brand b,
.widget-navbar-header a, .widget-navbar-header .navbar-brand b,
.gly-black{
  color: #000000;
}

.widget-container{
  position: relative;
}
.widget-options{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  opacity: 0.5;
}

.color-black{
  color: #000000;
}

.color-blue{
  color: #0000FF;
}

.widget-option{
  margin: 5px;
}

.widget-container h1,
.widget-container h2,
.widget-container h3,
.widget-container h4,
.widget-container h5,
.widget-container h6{
  margin: 0px;
}

.video-frame {
  width: 100%;
  padding: -10px;
}

.widget-image{
  width: 100%;
}

.widget-navbar-footer .glyphicon-play,.widget-navbar-footer .glyphicon-eye-open {
  padding: 5px;
}
