input{
  margin-bottom: 5px;
}

body{
  padding-top: 65px;
}

.user-navbar,.user-navbar-footer,.website-navbar-header,.website-navbar-footer{
  background-color: #0083c3;
}

.navbar-default .navbar-brand {
  color: white;
}

.website-navbar-header  a,
.website-navbar-footer  a,
.user-navbar-header  a,
.user-navbar-header a{
  color: white;
}

.website-list{
  border: none;
  text-decoration: none;
}

.website-list a{
  text-decoration: none;
}

.navbar-text a{
  text-decoration: none;
}
