<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top widget-navbar-header">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget" class="glyphicon glyphicon-chevron-left"></a>
    </p>

    <a class="navbar-brand" href="#"><b>Choose Widget</b></a>

  </div>
</nav>
<!--Header end-->
<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item widget-list">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/1">Header</a>
    </li>
    <li class="list-group-item widget-list">
      <a >Label</a>
    </li>
    <li class="list-group-item widget-list">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/4">HTML</a>
    </li>
    <li class="list-group-item widget-list">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/5">Text Input</a>
    </li>
    <li class="list-group-item widget-list">
      <a>Link</a>
    </li>
    <li class="list-group-item widget-list">
      <a>Button</a>
    </li>
    <li class="list-group-item widget-list">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/2">Image</a>
    </li>
    <li class="list-group-item widget-list">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/3">YouTube Video</a>
    </li>
    <li class="list-group-item widget-list">
      <a>Data table</a>
    </li>
    <li class="list-group-item widget-list">
      <a href="#">Repeater</a>
    </li>
  </ul>
</div>


<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom widget-navbar-footer">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
<!--footer end-->
